body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.purple {
	color: rgb(88, 86, 214);
}

.bg-purple {
	background-color: rgb(88, 86, 214);
}

.shadow {
	box-shadow: rgba(66, 66, 66, 0.5) 0px 4px 20px 0px,
		rgba(0, 0, 0, 0.0666) 0px 1px 1px 0px;
}

.pv05 {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.h05 {
	height: 0.5rem;
}

.w05 {
	width: 0.5rem;
}

.BaseTable {
	box-shadow: none !important;
}

.BaseTable__table {
	outline: none !important;
}

.focus-no-outline:focus {
	outline: none;
}
